// === VARIABLES ===

// === sizes ===
$base: 4px;
$width-container: 1180px;
$height-header: $base * 15;
$height-btn: 50px;
$border-radius-btn: 30px;
$border-radius-half: 50%;
$border-radius: 30px;
$border-radius-card: 10px;
$z-index-header: 100;
$z-index-cookies: 999999999;
// === / sizes ===

// === text size ===
$font-size-xxl: 40px;
$font-size-xl: 28px;
$font-size-lg: 24px;
$font-size-md: 18px;
$font-size-sm: 16px;
$font-size-xs: 14px;
// === / text size ===

// === text line height ===
$font-line-height-xxl: 50px;
$font-line-height-xl: 40px;
$font-line-height-lg: 36px;
$font-line-height-md: 28px;
$font-line-height-sm: 26px;
$font-line-height-xs: 24px;
// === / text line height ===

// === text weight ===
$font-weight-main: 500;
$font-weight-primary: 550;
$font-weight-secondary: 600;
// === / text weight ===

// === font family ===
$font-family-main: "HOK Sans Pro", sans-serif;
// === / font family ===

// === colors ===
$color-primary: #0098FF;
$color-secondary: #FFFFFF;
$color-tertiary: #FF421D;

// === colors bg ===
$color-bg-primary-light: #fff;
$color-bg-primary-dark: #000;
$color-bg-secondary-light: #0098FF;
$color-bg-secondary-dark: #002EAF;
$color-bg-tertiary-light: #DBA293;
$color-bg-tertiary-dark: #00592E;
$color-bg-accent-light: #EAFF50;
$color-bg-accent-dark: #FF421D;

// === colors text ===
$color-text-primary-light: #fff;
$color-text-primary-dark: #000;
$color-text-secondary: #002EAF;
$color-text-tertiary: #001E72;
$color-text-link: #0098FF;

// === colors btn ===
$color-button-static-main: #0098FF;
$color-button-static-primary: #FFFFFF;
$color-button-hover: #002EAF;
$color-button-pressed: #001E72;
$color-button-disabled: #CBCBCB;

// === colors icon bg ===
$color-icon-bg-main: #fff;
$color-icon-bg-primary: #FF421D;
$color-icon-bg-secondary: #0098FF;

// === colors icon ===
$color-icon-main: #fff;
$color-icon-primary: #FF421D;

// === colors border ===
$color-border-main: #F4F4F4;
$color-border-primary: #000;
$color-border-second: #FF421D;
// === / colors ===

// === shadow ===
$shadow-drop-main: 3px 11px 20px rgba(212, 212, 212, 0.4);
$shadow-drop-primary: 0px 0px 2px rgba(0, 0, 0, 0.1);
$shadow-drop-secondary: 0px 0px 20px rgba(23, 23, 23, 0.25);
// === / shadow ===

// === breakpoints ===
$bp-xxs-max: 480px;
$bp-xs-max: 550px;
$bp-sm: 1060px;
$bp-sm-max: 1100px;
$bp-md: 1200px;
$bp-md-max: 1250px;
$bp-lg: 1440px;
// === /breakpoints ===

// === screen ===
$screen-tablet: 768px;
$screen-desktop: 1024px;
// === / screen ==
// === / VARIABLES ===